@charset "utf-8";
#wrap{
  min-width: 320px;
}

.inner{
  margin: 0 auto;
  position: relative;
  padding: 0 20px 65px;
}


/*닫지마세요 frame*/
#wrap{
  overflow: hidden;
}

/* .frame-button img{
  cursor: pointer;
} */

.dont-close{
  width: 75%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}

.dont-close .dc-frame{
  background-color: #E1B4FF;
  border: 3px solid #6660E8;
}

.dont-close .dc-frame .dc-bar{
  height: 20px;
  background-color: #6660E8;
  position: relative;
}

.dont-close .dc-frame .dc-bar img{
  width: 18px;
  height: 18px;
  position: absolute;
  right: 5px;
  /* cursor: pointer; */
}

.dont-close .dc-frame .dc-txt-box{
  margin: 10px;
}

.dont-close .dc-frame .dc-txt-box p{
  color: #6660E8;
  text-align: center;
  margin-bottom: 6px;
}

.dont-close .dc-frame .dc-txt-box .dc-button{
  display: flex;
  justify-content: center;
}

.dont-close .dc-frame .dc-txt-box .dc-button .dc-but-no{
  margin-right: 15px;
}

.dont-close .dc-frame .dc-txt-box .dc-button > div{
  width: 25%;
  height: 25px;
  border: 2px solid #6660E8;
  color: #6660E8;
  font-size: 1.3rem;
  text-align: center;
  padding: 3px;
  /* cursor: pointer; */
}

.dont-close .dc-frame .dc-txt-box .dc-button > div:hover{
  background-color: #6660E8;
  color: #E1B4FF;
  border: 2px solid #6660E8;
}

  
#main{
  width: 100%;
  /* height: 850px; */
  height: 100vh;
}

#main .inner{
  height: 100%;
}

/*각 페이지 로고 사이즈 조정*/
#main .logo{
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main.tb .logo, #main.cc .logo, #main.kb .logo, #main.kn .logo{
  width: 50%;
}


#main .logo img{
  width: 100%;
}

  
/* #intro .main-wrap{
width: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} */

/*frame 공통부분*/
.pf-frame{
  width: 65%;
  position: absolute;
  top: 30px;
  left: 20px;
}

.pf-frame-wrap .f2{
  width: 50%;
  top: 115px;
  left: 170px;
}

.pf-frame{
    border: 3px solid #6660E8;
    background-color: #fff;
}
  
.pf-frame .bar .bar-tit span{
    color: #fff;
    font-size: 1.6rem;
    margin-left: 5px;
}
  
.pf-frame .bar{
    height: 35px;
    position: relative;
    background-color: #6660E8;
}
  
.pf-frame .bar .bar-tit{
    margin: auto 10px;
    line-height: 35px;
    font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
}
  
.pf-frame .bar .bar-tit img{
    margin-top: 5px;
    width: 25px;
    height: auto;
}
  
.pf-frame .bar .frame-button{
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  top: 5px;
  right: 10px;
  justify-content: end;
}
  
.pf-frame .bar .frame-button img{
  width: 100%;
  display: inline-block;
  margin-left: 5px;
}
  
.pf-frame p{
  font-family: "Noto Sans KR", sans-serif;
  margin: 7px 0 0 15px;
  font-size: 1.4rem;
}
  
.pf-frame p:last-child{
  margin: 5px 0 7px 15px;
}

.pf-frame.f3{
  width: 85%;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
}

.pf-frame.f3 p{
  margin-right: 15px;
}

.project-box{
  width: 176px;
  height: 40px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/project.png) no-repeat top left / 100% auto;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  padding-top: 18px;
}


/*tab menu css*/
#tab{
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  width: 90%;
  height: 35px;
  z-index: 9;
}

#tab ul{
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: rgba(102, 96, 232, 0.5);
  box-shadow: 1px 1px 4px 2px rgba(60,55,190,0.4);
  overflow: hidden;
}

#tab ul li{
  display: grid;
  place-items: center;
  z-index: 10;
  /* cursor: pointer; */
  font-size: 1.2rem;
  padding: 0 10px;
  margin: 0 auto;
}

#tab ul li:last-child{
  letter-spacing: -0.8px;
}

#tab ul li a{
  display: block;
  color: #fff;
}

#tab ul li:hover a{
  color: #E1B4FF;
}

#tab ul li.active{
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background: #6660E8;
  padding: 0 10px;
  margin: auto 0;
}


/*gnb css 시작*/
#gnb{
  width: 100%;
  height: 65px;
  z-index: 100;
  font-family: "Press Start 2P", 'NeoDunggeunmoPro-Regular', sans-serif;
  background-color: #6660E8;
  position: fixed;
  bottom: 0;
}
  
#gnb .gnb-inner{
  position: relative;
  padding: 0 20px;
}
  
#gnb .menu-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
  
#gnb .menu-left li .gnb-img-box{
  position: relative;
  width: 25px;
  height: 20px;
  margin: 0 auto 5px;
}
  
#gnb .menu-left li .gnb-img-box img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gnb .menu-left li .gnb-img-box img.img-hover{
  display: none;
}
  
#gnb .menu-left li:first-child a img{
  width: 30px; 
  height: auto;
}
  
#gnb .menu-left li{
  padding-right: 5px;
  letter-spacing: -0.8px;
}
  
#gnb .menu-left li a{
  display:block; 
  color:#fff; 
  font-size: 1.2rem;
}
  
#gnb .menu-left li:first-child a{
  margin-right: 0;
}
  
#gnb .menu-left li a span{
  text-align: center;
  display: block;
}
  
#gnb .menu-left li a:hover{
  color:#FBFF4E;
}
  
#gnb .menu-left li a:hover .img{
  display: none;
}
  
#gnb .menu-left li a:hover .img-hover{
  display: block;
}
  
#gnb .menu-left li a img{
  width: 100%; 
}
  
.menu-right{
  display: none;
}
/*gnb css 끝*/


/*공통부분*/
h2{
  font-size: 1.8rem;
  color: #6660E8;
  padding: 80px 25px 50px 0;
}

h4{
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: normal;
  font-style: italic;
  color: #60574E;
}

h3{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.4rem;
  margin: 20px 0;
}

#print p{
  margin-bottom: 10px;
  font-size: 1.4rem;
}

#branding .tn-brand-logo,
.manual-ex, .comp-intro-ex,
.news-txt,
h4{
  font-family: "Noto Sans KR", sans-serif;
}


/*항목 선택 탭 css*/
#print.chcm .folder-select-tab{
  display: none;
}

.folder-wrap{
  display: flex;
}

.folder-wrap .folder-select-tab{
  padding: 80px 0 50px;
}

.folder-select-tab ul{
  display: flex;
}

.folder-select-tab ul li{
  margin-right: 10px;
  font-size: 1.2rem;
  color: #E1B4FF;
  border: 2px solid #E1B4FF;
  padding: 5px 12px 3px;
  border-radius: 20px;
  /* cursor: pointer; */
}

.folder-select-tab ul li:hover{
  background-color: #E1B4FF;
  color: #fff;
}

.folder-select-tab ul li.active{
  background-color: #E1B4FF;
  color: #fff;
}

/*안데르센 폴더선택 디자인 변경*/
#zep .folder-select-tab{
  padding-bottom: 50px;
  margin: 0 auto;
}

#zep .folder-select-tab ul{
  justify-content: center;
}

#zep .folder-select-tab ul li{
  color: #6660E8;
  border: 2px solid #6660E8;
}

#zep .folder-select-tab ul li:hover{
  background-color: #6660E8;
  color: #fff;
}

#zep .folder-select-tab ul li.active{
  background-color: #6660E8;
  color: #fff;
}



/*tannenbaum setting*/
#main.tb{
  background: url(../img/pf-tn-main.png) no-repeat top center / cover;
}


/*branding*/
#branding{
  width: 100%;
  padding-bottom: 70px;
}

#branding .tn-brand-iden{
  width: 100%;
  height: 100%;
}

#branding .tn-brand-iden p{
  text-align: center;
  font-style: italic;
  padding-bottom: 10px;
}

#branding .tn-brand-iden img{
  width: 100%;
}

#branding .tn-brand-txt{
  width: 90%;
  padding-top: 30px;
  text-align: center;
  font-size: 1.4rem;
  margin: 0 auto;
  line-height: 1.5;
}

#branding .tn-brand-txt p{
  padding-bottom: 10px;
}

#branding .branding-img{
  width: 100%;
  height: 1525px;
  background: url(../img/pf_tn_branding_m.png) no-repeat top center / contain;
}

/* #branding .branding-img img{
  width: 100%;
} */


/*print css*/
.manual-img-box, .comp-img-box{
  width: 100%;
  height: auto;
  margin: 30px 0;
}
.manual-img-box img, .comp-img-box img{
  width: 100%;
}

.manual-sam div{
  margin-bottom: 120px;
}


/*swiper css*/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 40%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.tn-print-news{
  margin-bottom: 150px;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
  --swiper-theme-color: #6660E8;
}

.swiper-button-next:after, .swiper-button-prev:after{
  color: #E1B4FF;
}


/*chcm setting*/
#main.cc{
  background: url(../img/pf_cc_main.png) no-repeat top center / cover;
}

#ci .ci-img{
  width: 100%;
  height: 1020px;
  background: url(../img/pf_cc_ci_m.png) no-repeat top center / contain;
}

/*기술보증기금 setting*/
#main.kb{
  background: url(../img/pf_kb_main.png) no-repeat top center / cover;
}

.outdoor-box{
  width: 100%;
  margin: 10px 0 30px;
}

.outdoor-box img{
  width: 100%;
}

.kb-print-main .manual-img-box{
  width: 100%;
  height: auto;
  margin: 30px 0;
}

/*부산it교육센터/아카데미 setting*/
#main.bt{
  background: url(../img/pf_bt_main.png) no-repeat top center / cover;
}

/*안데르센 동화전시회 setting*/
#main.an{
  background: url(../img/pf_an_main.png) no-repeat top center / cover;
}

.an-zep .manual-ex p{
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
  line-height: 1.5;
}

.an-zep .manual-ex span, .an-zep .manual-ex strong{
  display: block;
  margin-bottom: 5px;
}

.an-zep .manual-ex strong{
  font-size: 1.6rem;
}

.an-start{
  width: 35%;
  height: auto;
  margin: 20px auto;
  animation: move-up-down 1.5s linear infinite;
}

.an-start img{
  width: 100%;
}

.an-map{
  width: 100%;
  height: auto;
  margin: 30px auto;
}

.an-map img{
  width: 100%;
}

.an-falersen{
  width: 100%;
  height: auto;
  margin: 50px auto;
}

.an-falersen img{
  width: 100%;
}

#web.an .right ul{
  display: flex;
  justify-content: center;
}

#web.an .right ul li:first-child{
  margin-right: 15px;
}


/*konec setting*/
#main.kn{
  background: url(../img/pf_kn_main.png) no-repeat top center / cover;
}

#web.kn .right ul li{
  margin-right: 15px;
}


/*mimidar*/
#main.mi{
  background: url(../img/pf_mi_main.png) no-repeat top center / cover;
}


/*web css*/
#web{
  width: 100%;
  height: 100%;
}

.left{
  width: 350px;
  margin: 30px auto 0;
}

.left-img{
  position: relative;
}

.left-img img{
  width: 100%;
}

.mask{
  width: 318px;
  height: 179px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  left: 21px;
  z-index: -1;
}

#web.tb .web-scroll{
  animation: move-top 13s linear infinite;
}

#web.chcm .web-scroll, #web.kn .web-scroll{
  animation: move-top-100 13s steps(7) infinite;
}

#web.bt .web-scroll{
  animation: move-top-90 20s linear infinite;
}

#web.an .web-scroll{
  animation: move-top-90 15s linear infinite;
}

#web.mi .web-scroll{
  animation: move-top 11s linear infinite;
}

/*----------------------애니메이션----------------------*/

/*move-top 애니메이션 80%*/
@keyframes move-top {
0%{
  transform: translateY(0);
}
100%{
  transform: translateY(-80%);
}
}

/*move-top 애니메이션 90%*/
@keyframes move-top-90 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-90%);
  }
  }

/*move-top 애니메이션 100%*/
@keyframes move-top-100 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100%);
  }
}

/*상하 움직임 애니메이션*/
@keyframes move-up-down {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(5%);
  }
  100%{
    transform: translateY(0);
  }
}


#web p{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

#web p strong{
  color: #6660E8;
}

#web .web-fwrap{
  text-align: center;
}


/*링크 연결 선택 버튼*/
.right ul{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  margin: 30px 0 20px;
}

.right ul li a, .zep-link a{
  border: 1px solid #6660E8;
  padding: 5px 20px;
  color: #6660E8;
  border-radius: 20px;
}

.right ul li a:hover, .zep-link a:hover{
  background-color: #6660E8;
  color: #fff;
}

/*안데르센 변경*/
.right.an{
  margin-bottom: 30px;
}

.right.an ul{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.right.an ul li{
  margin-right: 10px;
}

.link-ex{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  color: #6660E8;
  text-align: center;
}

.zep-link{
  margin: 40px auto 70px;
  text-align: center;
}

.zep-link a{
  padding: 5px 35px;
}


.gray{
  color: #555;
}

.pj-ex{
  padding: 0 10px 50px;
}





@media screen and (min-width: 470px) {
  #tab ul li{
    padding: 0 20px;
  }

  #tab ul li.active{
    width: 50%;
  }

  #gnb .menu-left li{
    letter-spacing: 1px;
  }
}










/*중간 break*/
@media screen and (min-width: 650px) {

  #intro .main-icon01 {
    padding-top: 80px;
  }
  
  #intro .frame-wrap p {
    margin-top: 40px;
    font-size: 3rem;
  }
  
  #gnb .gnb-inner{
    padding: 0 70px;
  }
  
  #gnb .menu-left li a {
    display: block;
    color: #fff;
    font-size: 1.5rem;
  }
  
  #gnb .menu-left li .gnb-img-box {
    width: 30px;
    height: 26px;
  }

  #tab ul li{
    padding: 0 35px;
    font-size: 1.4rem;
  }

  #tab ul li:last-child{
    letter-spacing: -1px;
  }

  #tab ul li.active{
    width: 35%;
  }

  #main.kb #tab ul li.active {
    width: 50%;
  }

  .pf-frame {
    width: 50%;
  }

  .pf-frame.f2 {
    width: 45%;
  }

  .pf-frame.f3 {
    width: 50%;
    left: 45%;
  }

  /*dont close*/
  .dont-close{
    width: 50%;
  }

  /*각 페이지 로고 사이즈 조정*/
  #main .logo{
    width: 55%;
  }

  #main.tb .logo, #main.cc .logo, #main.kb .logo, #main.kn .logo, #main.mi .logo{
    width: 30%;
  }


  /*기술보증기금*/
  .kb-print-sub .manual-img-box{
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: auto;
    margin: 30px 20px;
  }

  /*안데르센 동화전시회 setting*/
  .an-start{
    width: 25%;
    height: auto;
    margin: 20px auto;
  }


}









@media screen and (min-width: 1024px){
  #main .inner{
    padding: 0 50px;
    height: 100vh;
  }
    
  #main .intro-wrap {
    height: 100%;
  }
  

  .pf-frame{
    width: 35%;
    left: 70px;
  }

  .pf-frame.f2{
    width: 30%;
    left: 23%;
  }

  .pf-frame.f3{
    width: 35%;
    top: 60%;
    left: 75%;
  }

  .pf-frame p{
    font-size: 1.5rem;
  }

  /*gnb css 시작*/
  #gnb .gnb-inner{
    padding: 0 50px;
  }
  

  #gnb .menu-left li:first-child{
    margin-right: 60px;
  }

  #gnb .menu-left li:first-child a img{
    width: 45px; 
    height: auto;
  }

  #gnb .menu-left li a{
    font-size: 1.8rem;
  }

  #gnb .menu-left li a img{
    width: 35px; 
    height: auto;
  }

  #gnb .menu-left li a span{
    display: inline-block;
  }

  #gnb .menu-left li .gnb-img-box{
    position: relative;
    width: 38px;
    height: 26px;
    display: inline-block;
    margin: 0;
  }

  /*tab menu*/
  #tab{
    width: 50%;
  }

  #tab ul li{
    padding: 5px 20px 0;
    font-size: 1.6rem;
  }

  #tab ul li.active {
    width: 35%;
    padding: 5px 10px 0;
  }

  /*tab 2개짜리 수정*/
  #tab.half ul li.active {
    width: 50%;
    padding: 5px 10px 0;
  }

  /*dont close*/
  .dont-close{
    width: 35%;
  }

  /*서브페이지 공통사항*/
  h2{
    font-size: 2rem;
  }

  #print p{
    margin-bottom: 3px;
    font-size: 1.4rem;
  }

  .folder-select-tab ul li{
    margin-right: 20px;
    font-size: 1.5rem;
    padding: 7px 20px 5px;
  }
  
  /*branding css*/
  #branding .branding-img{
     width: 100%;
     height: 1450px;
     background: url(../img/pf_tn_branding.png) no-repeat top center / contain;
  }

  /*기술보증기금*/
  .kb-print-sub .manual-img-box{
    width: 550px;
  }
  
  #ci .ci-img{
    width: 100%;
    height: 1000px;
    background: url(../img/pf_cc_ci.png) no-repeat top center / contain;
  }

  /*안데르센*/
  .an-zep .manual-ex strong{
    font-size: 2.4rem;
  }

  .link-ex{
    font-size: 1.4rem;
  }

  #web.an .right ul, #web.kn .right ul{
    display: flex;
    justify-content: start;
  }


  /*각 페이지 로고 사이즈 조정*/
  #main .logo{
    width: 40%;
  }

  #main.tb .logo, #main.cc .logo, #main.kb .logo{
    width: 20%;
  }

  #main.an .logo{
    width: 30%;
  }

  #main.kn .logo{
    width: 25%;
  }
   

  /*web css*/
  #web{
    height: 100vh;
  }

  #web .inner{
    padding: 0 40px 65px;
  }

  #web .web-fwrap{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .left{
    width: 350px;
    margin: 30px auto 0;
  }

  .pj-ex{
    padding: 0;
  }
  
  /*안데르센 동화전시회 setting*/
.an-start{
  width: 15%;
  height: auto;
  margin: 20px auto;
}

.an-map{
  width: 60%;
  height: auto;
  margin: 30px auto;
}

.an-falersen{
  width: 60%;
  height: auto;
  margin: 50px auto;
}

}









@media screen and (min-width: 1200px){
  .inner {
    padding: 0 80px 65px;
  }
    
  #main{
    width: 100%;
    background-color: #6660E8;
  }
    
  #main .inner {
    padding: 0 50px 65px;
  }

  #main .tn-wrap{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .pf-frame{
    width: 20%;
    left: 70px;
  }

  .pf-frame.f2{
    width: 18%;
    left: 17%;
  }

  .pf-frame.f3{
    width: 25%;
    top: 65%;
    left: 70%;
  }

  .project-box{
    width: 200px;
    height: 50px;
    top: 90%;
    font-size: 1.6rem;
    padding-top: 21px;
  }


  #tab{
    bottom: 100px;
    height: 40px;
  }
  
  #tab ul{
    height: 40px;
  }
  
  #tab ul li {
    padding: 6px 10px 0;
    font-size: 1.6rem;
  }

  #tab ul li:first-child {
    padding: 5px 10px 0 25px;
  }

  #tab ul li:last-child {
    padding: 5px 25px 0 10px;
  }

  /*gnb css 시작*/
  #gnb{
    height: 65px;
  }

  #gnb .gnb-inner{
    padding: 0 40px;
    display: flex;
    height: 65px;
    justify-content: space-between;
  }

  #gnb .menu-left{
    height: 65px;
  }

  #gnb .menu-left li{
    padding-right: 20px;
  }

  #gnb .menu-left li a{
    font-size: 1.8rem;
  }

  #gnb .menu-left li:first-child{
    padding-right: 0;
  }

  #gnb .menu-left li a img{
    width: 100%;
    height: auto;
  }

  #gnb .menu-left li:first-child a img{
    width: 50px;
    height: auto;
  }

  #gnb .menu-left li .gnb-img-box{
    width: 32px;
    height: 26px;
    margin-bottom: 0;
  }

  #gnb .menu-right{
    display: flex;
    margin: auto 0;
  }

  #gnb .menu-right .menu-search-wrap .menu-search-box{
    width: 200px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    margin-right: 20px;
  }

  #gnb .menu-right .menu-search-wrap{
    position: relative;
  }
  
  #gnb .menu-right .menu-search-wrap img{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 40px;
    top: 8px;
  }

  #gnb .menu-right p{
    font-size: 1.6rem;
    color: #fff;
  }

  #gnb .menu-right span{
    color: #fff;
    font-size: 1.3rem;
  }

  #tab{
    width: 40%;
  }


  /*닫지마세요 frame*/
  .dont-close{
    width: 25%;
    top: 40%;
    left: 50%;
  }


  /*서브페이지 공통사항*/
  /*항목 선택 탭 css*/


  /*branding*/
  #branding .branding-img{
    height: 1400px;
  }


  /*테넌바움 print*/
  .manual-sam div{
    margin-bottom: 20px;
  }

  /*기술보증기금*/
  .kb-print-sub .manual-img-box{
    width: 600px;
  }

  /*안데르센*/
  .zep-link{
    margin: 40px auto 100px;
    text-align: center;
  }

  /*web css*/
  .web-fwrap{
    padding-bottom: 30px;
  }

  .left{
    width: 450px;
    margin: 0 60px;
  }

  .mask{
    width: 408px;
    height: 230px;
  }
  
  /*konec web*/
  #web.kn .mask{
    top: 20px;
  }
  
}









@media screen and (min-width : 1620px) {
  #gnb .menu-left li .gnb-img-box{
    width: 36px;
    height: 26px;
    margin-bottom: 0;
  }

  #ci .ci-img{
    height: 1200px;
  }

  /*web*/
  .left{
    width: 550px;
    margin: 0 80px;
  }

  .mask{
    width: 499px;
    height: 282px;
    top: 25px;
    left: 25px;
  }

  h3{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 3rem;
    margin: 20px 0;
  }

  #web p{
    font-size: 1.8rem;
  }

  .web-fwrap{
    padding: 100px 0;
  }
}