@charset "utf-8";

header{width: 100%; height: 100%; position: fixed; z-index: 999;}
header h1{width: 30px; height: auto; margin: 0 auto; padding: 20px 0;}
header h1 img{width: 100%;}

.ham{position: absolute; top: 30px; left: 20px; text-align: center; z-index: 1; cursor: pointer;}
.ham span{width: 44px; height: 2px; background-color: #fff; display: block; transition: all 0.5s;}
.ham span:nth-child(3){margin-bottom: 5px;}

.ham.active span{transition: all 0.5s;}
.ham.active span:nth-child(3){transform: rotate(15deg); margin-top: 6px;}
.ham.active span:nth-child(4){transform: rotate(-15deg); margin-top: -6px;}

.ham strong{font-size: 14px; color: #fff; font-weight: normal;}


.cart{position: absolute; top: 33px; right: 20px; width: 25px; height: 25px;}
.cart img{width: 100%;}

.open-gnb{position: absolute; z-index: 1; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.open-gnb a{display: block; color: #fff; text-align: center;}
.open-gnb a:hover{color: #24B9E4;}
.open-gnb > li{margin-bottom: 50px; font-size: 40px; font-weight: bold;}
.open-gnb .depth2{font-size: 16px; font-weight: normal; display: flex; margin-top: 8px; padding-left: 25px;}
.open-gnb .depth2 li{margin-right: 35px;}

.open-gnb .sns > p{font-size: 14px; color: #fff; text-align: center; font-weight: bold; margin-bottom: 15px;}
.open-gnb .sns ul{display: flex; justify-content: center; flex-wrap: wrap; width: 140px; position: absolute; left: 50%; transform: translateX(-50%);}
.open-gnb .sns img{width: 20px; height: 20px;}
.open-gnb .sns li{margin-right: 10px; margin-bottom: 10px;}
.open-gnb .sns li > p{font-size: 14px; color: transparent; text-align: center;}
.open-gnb .sns li:hover > p{color: #fff;}

.dim{width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); position: absolute; top: 0; left: 0;}
.gnb{display: none;}

#container{position: relative;}
#main, #about, #woodmic, #ciclo, #co-brand, #what, #gallery{width: 100vw; height: 100vh; position: absolute; left: 0;}
/*main*/
#main{top: 0;}
#main .mv img{width: 100%; height: 100vh; object-fit: cover; position: absolute; top: 0; left: 0;}

#main .mv .flow{width: 100%; height: 85px; position: absolute; bottom: 20px; overflow-x: hidden; white-space: nowrap;}
#main .mv .flow span{font-size: 60px; color: transparent; font-weight: bold; padding-inline-start: 120%; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; animation: scroll-left 20s linear infinite; display: inline-flex; font-style: italic;}


/*about*/
#about{top: 100vh; background-color: blue;}
#about .a-wrap .about-mt{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
#about .a-wrap .about-mt span{font-size: 80px; font-weight: bold; color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #24B9E4;}

#about .a-wrap .about-img{width: 375px; height: 155px; border-radius: 100px; overflow: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: all 0.5s;}
#about .a-wrap .about-img img{width: 100%; height: 100%; object-fit: cover;}

#about .a-wrap .center-txt{font-size: 22px; color: #fff; width: 205px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; text-align: center; font-weight: 500;}

#about .a-wrap .more-arrow{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding-top: 600px;}
#about .a-wrap .more-arrow span{font-size: 20px; color: #fff;}
#about .a-wrap .more-arrow div{width: 130px; height: 13px; background: url(../img/More_arrow_m.png) no-repeat center / cover;}


/*woodmic*/
#woodmic{top: 200vh; background-color: blue;}




@media screen and (min-width : 768px) {
  header h1{width: 33px; position: absolute; top: 25px; left: 40px;}
  .cart{top: 38px; right: 30px; width: 32px; height: 32px;}
  .gnb{display: flex; padding-top: 40px; position: absolute; left: 175px;}
  .gnb li{margin-right: 50px;}
  .gnb a{display: block; font-size: 25px; color: #fff;}
  .gnb a:hover{color: #24B9E4;}

  .ham{top: 50%; transform: translateY(-50%);}
  .ham span{width: 85px; height: 3px; display: block;}
  .ham span:nth-child(3){margin-bottom: 10px;}
  .ham.active span:nth-child(3){margin-top: 10px;}
  .ham.active span:nth-child(4){margin-top: -12px;}

  .ham strong{display: inline-flex; font-size: 25px; margin-bottom: 3px;}


  .open-gnb > li{margin-bottom: 80px; font-size: 70px;}
  .open-gnb .depth2{font-size: 25px; margin-top: 6px;}
  .open-gnb .sns ul{display: flex; justify-content: center; flex-wrap: nowrap;}
  .open-gnb .sns > p{font-size: 25px;}
  .open-gnb .sns img{width: 35px; height: 35px;}
  .open-gnb .sns li > p{font-size: 20px;}


  /*main*/
  #main .mv .flow{height: 170px;}
  #main .mv .flow span{font-size: 120px; -webkit-text-stroke-width: 2px;}


  /*about*/
  #about .a-wrap .about-mt span{font-size: 120px; -webkit-text-stroke-width: 3px;}
  #about .a-wrap .about-img{width: 700px; height: 300px; border-radius: 150px;}
  #about .a-wrap .center-txt{font-size: 30px; width: 550px;}
  #about .a-wrap .more-arrow{padding-top: 800px;}
  #about .a-wrap .more-arrow span{font-size: 26px;}
  #about .a-wrap .more-arrow div{width: 165px; height: 16px; background: url(../img/More_arrow_m.png) no-repeat center / cover;}

}



@media screen and (min-width : 1200px) {
  .gnb{top: 8px; left: 50%; transform: translateX(-50%);}
  .gnb a{font-size: 22px;}

  .ham span{width: 70px;}
  .ham strong{font-size: 22px;}

  .open-gnb > li{margin-bottom: 45px; font-size: 60px;}
  .open-gnb .depth2{font-size: 22px; margin-top: 6px;}
  .open-gnb .sns > p{font-size: 20px;}
  .open-gnb .sns img{width: 22px; height: 22px;}
  .open-gnb .sns li > p{font-size: 14px;}

  
  /*main*/
  #main .mv .flow span{font-size: 100px;}
  

  /*about*/
  #about .a-wrap .about-mt span:first-child{margin-right: 30px;}
  #about .a-wrap .about-img{width: 900px; height: 200px; border-radius: 100px;}
  #about .a-wrap .center-txt{font-size: 25px;}
  #about .a-wrap .more-arrow{padding-top: 600px;}
  #about .a-wrap .more-arrow span{font-size: 25px;}
  #about .a-wrap .more-arrow div{width: 165px; height: 16px; background: url(../img/More_arrow_m.png) no-repeat center / cover;}
}